*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 200vh;
  font-family: 'Poppins', sans-serif;
}

#du-an{
  min-height: 100vh;
  background-color: #100826;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content{
  padding: 40px;
  color: #fff;
}

.content .sub-title {
  color: #cdcd29;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 5px;
}

.content .title {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.25;
  padding-bottom: 5px;
}

.content .desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.slide-wrapper {
  position: relative;
  width: 60%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.control{
  width: 20%;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  justify-content: center;
  font-size: 50px;
  /* background-color: red; */
}

.control i {
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

i.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.control .next-button {
  margin-left: 10px;
}

.slider {
  display: grid;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 20px;
  overflow-y: auto;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
  transition: all 0.2s linear;
  padding-right: 20px;
  /* margin-right: -20px; */
}
.slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slider::-webkit-scrollbar {
  display: none;
}

.slider-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slider-item .slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 10px;
  background-color: #2322226d;
  color: #fff;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;

  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}

.slider-item:hover .slide-item-content {
  opacity: 1;
  visibility: visible;
}

.slide-item-content .slide-item-title {
  font-size: 25px;
  font-weight: 600;
}

.slide-item-content .slide-item-desc{
  font-size: 16px;
  font-weight: 300;
}

.slider-item * {
  pointer-events: none;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-wrapper{
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  right: 0;
  margin-right: 40px;
  width: 20%;
  height: 4px;
  background-color: rgb(157, 152, 152);
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #fff;
  transition: all 0.2s linear;
}

@media screen and (max-width: 1279.98px) {
  .content .sub-title{
    font-size: 30px;
  }

  .content .title{
    font-size: 40px;
  }
}


@media screen and (max-width: 1023.98px) {
  #du-an{
    flex-direction: column;
  }
  .slide-wrapper {
    width: 100%;
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 15px;
  }
  .control{
    font-size: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .content .sub-title{
    font-size: 25px;
    margin-bottom: 5px;
  }
  .content .title{
    font-size: 30px;
  }
  .content .desc {
    font-size: 18px;
    line-height: 1.5;
  }
}






